<!DOCTYPE html>
<html>

<head>
  <title>Handlebars on Express</title>
  <script src="app.css" , type="stylesheet"></script>
  <link rel="stylesheet" href="css/{{style}}">
</head>

<body>
  {{{body}}}
</body>

</html>